.main {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  border: none;
}
.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  border: none;
  overflow: hidden;
  box-shadow: 0px 0px 100px rgba(0, 68, 255, 0.8);
}
.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  border: none;
}

.display span {
  font-size: 14px;
  color: #888;
  border: none;
}

.operators {
  display: flex;
  border: none;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
  border: none;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.digits button {
  flex: 1 1 33.3333%;
  max-width: 33.333%;
  background-color: var(--dark);
  border: none;
}
.digits button:hover {
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.25);
}
