* {
  background-color: #222;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 400px;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h3 {
  background-color: transparent;
  margin-bottom: 1rem;
  font-weight: normal;
}

img {
  border-radius: 50%;
  border: 3px #333 solid;
  margin-bottom: 1rem;
  box-shadow: 0 0 50px currentColor;
  animation: yt-effect 6s ease-in-out infinite;
}

.male {
  color: steelblue;
  border-color: steelblue;
  background-color: transparent;
}

.female {
  color: pink;
  border-color: pink;
  background-color: transparent;
}

button {
  margin-top: 2rem;
  cursor: pointer;
  display: inline-block;
  /* background: #333; */
  color: white;
  font-size: 18px;
  border: 2px solid;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  transition: 0.4s;
  box-shadow: 0 0 5px currentColor;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px currentColor;
}

@keyframes yt-effect {
  0% {
    box-shadow: 0px 0px 25px currentColor;
  }

  50% {
    box-shadow: 0px 0px 50px currentColor;
  }

  100% {
    box-shadow: 0px 0px 25px currentColor;
  }
}
