body{
  font-family: 'Nunito SemiBold';
  background-color: #444;
  color:white;
}

#main h1{
  text-align: center;
}

#main{
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#book-details{
  size: 36rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #ccc;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #444;
}

#book-list{
  padding: 0;
}

#book-list li{
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  /* color: #aaa; */
  transition: all .5s;
}

#book-list li:hover{
  color:white;
  background-color:#aaa ;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  transform: translateY(-5%);
}
#book-list li:active{
  transform: translateY(-.5%);
}

form{
  margin: 2%;
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  border-radius: 2%;
}

form .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label{
  text-align: right;
  padding: 6px;
}

form input, form select{
  margin: 4px 0;
  padding: 6px;
  box-sizing: border-box;
}

form button{
  color: #fff;
  font-size: 2em;
  background: green;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}