*{
  box-sizing: border-box;
  margin:2%;
}
.App {
  text-align: center;
}

#btn{
  display: inline-block;
  padding: 1%;
  border-radius: 2%;
  background: #282c34;
  color:white;
  cursor: pointer;
}